# mysql client
# dbcli="mysql"
# dbdump="mysqldump"
# dbargs="-h127.0.0.1 -uroot -pmariadb"

# mariadb client
# dbcli="mariadb"
# dbdump="mariadb-dump"
# dbargs="-h127.0.0.1 -uroot -pmariadb"

# mariadb in docker
# dbcli="docker compose -f /srv/mariadb/docker-compose.yml exec mariadb mariadb"
# dbdump="docker compose -f /srv/mariadb/docker-compose.yml exec mariadb mariadb-dump"
# dbargs="-h127.0.0.1 -uroot -pmariadb"

# use mysql client config file
# dbargs="${dbargs} --defaults-extra-file=$scriptpath/dbcli.cfg"
